<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fotorest - Backbone + Underscore</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
	</head>
	<body>
        <div id="header">
            <h1 class="title"><a href="index.html">Fotorest - Backbone + Underscore</a></h1>
        </div>
        
        <div class="content">
            <div class="gallery"></div>
            
            <div class="galleryalbum"></div>
        </div>        
        
        <!-- Templates -->
        <script type="text/template" id="tpl-gallery">
            <a href="#gallery/<%= id %>"><img title="<%= _.escape(title) %>" src="http://i.imgur.com/<%= imageId %>b.jpg" /></a>
        </script>

        <script type="text/template" id="tpl-galleryalbum">
            <h2><%= _.escape(title) %></h2>
        </script>
        
        <script type="text/template" id="tpl-image">
            <h3><%= _.escape(title) %></h3>

            <img title="<%= _.escape(title) %>" src="<%= link %>" width="640" />

            <div class="desc"><%= _.escape(description) %></div>
        </script>

        <script src="js/jquery-2.0.3.min.js"></script>
		<script src="js/json2.js"></script>
		<script src="js/underscore-1.5.2-min.js"></script>
		<script src="js/backbone-1.1.0-min.js"></script>
        <script src="js/main.js"></script>   
        
	</body>
</html>